<section class="section-features js--section-features" id="features">
    <div class="row">
        <h1>Why Shop at &mdash; Care Club? </h1>
        <p class="long-copy">
            Hello, we're Care Club. We know you're always busy. No time for donating to the society. So let us take care of that, we're really good at it, we promise!
        </p>
    </div>
    
    <div class="row js--wp-1">
        <div class="col span-1-of-3 box">
            <i class='fas fa-dollar-sign' ></i>
            <h4>100% profit goes to Artists!</h4>
            <p>
                All the Profit is directly deposited into the artis's accounts. We just charge for the shipping and handling fees!
            </p>
        </div>
        <div class="col span-1-of-3 box">
            <i class='fab fa-accessible-icon' ></i>
            <h4>Help grow our Artists!</h4>
            <p>
                We at Care Club ensure that each artist is given an oppurtunity to grow and enhance their talent. When you buy their products they know that their work is appreciated.
            </p>
        </div>
        <div class="col span-1-of-3 box">
            <i class='fas fa-award' ></i>
            <h4>Quality Products!</h4>
            <p>
                All our products are quality assured. You don't only help our developmental disable artists but also get unique and hand crafted items to tressure or to gift to others.
            </p>
        </div>
      
    </div>   
</section>