<section class="section-testimonials">
    <!-- <div class="row">
        <h2>Meet Our Artists</h2>
    </div> -->
    <h1>Meet Our Artists</h1>

    <div class="row">
        <div class="col span-1-of-3">
            <blockquote>
                I started making acrylic jewellery a little more than a year ago. Due to my continued struggle with complex-post traumatic stress disorder, I had been out of job and unable to leave my house for almost eight years.
                <cite><img src="images/artist1.png">Marissa Auralie</cite>
            </blockquote>
        </div>
        <div class="col span-1-of-3">
            <blockquote>
               I have been struglling from autusim since 28 years now. Nothing gives me more happiness than making things and pretty jewellery. Thanks to the Care Club Team to make my happiness into an income source.
                <cite><img src="images/artist2.png">Molly Smith</cite>
            </blockquote>
        </div>
        <div class="col span-1-of-3">
            <blockquote>
I always say My Wheelchair Is My Freedom. It has given me freedom to express my feelings to art. I am a proud partner and designer at Care Club. I couldnt have asked for a better oppurtunity to showcase my talent.
            <cite><img src="images/artist3.png">John Davis</cite>
            </blockquote>
        </div>
    </div>
</section>